//@import '~bootstrap/scss/bootstrap';

//Utilisation des map en Sass
@use "sass:map";
//$primary :  #f4c95d;
//Import Reset de Meyer
@import "libs/reset.scss";
//Import de tout les fichiers scss uniquement nécessaire 
@import '~bootstrap/scss/bootstrap'; 
//@import '../../node_modules/bootstrap/scss/_nav.scss';
//@import '../../node_modules/bootstrap/scss/_navbar.scss';
//@import '../../node_modules/bootstrap/scss/_buttons.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//Déclaration des polices de caractères (3 polices avec chacune 2 graisses )
@font-face {
    font-family: 'Josefin Slab';
    src: url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../public/fonts/fontsperso/open-sans/OpenSans-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Caveat';
    src: url("../../public/fonts/fontsperso/caveat/Caveat-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/caveat/Caveat-Bold.ttf") format("truetype");
}

/*!
* Rajout de CSS personnel
*/

//Ma pallette de couleurs
$palette: (
    "cannelle": #a2623a,
    "jaune": #f4c95d,
    "beige": #e7e393,
    "noir": #303133
);



//Ma navbar personnelle 
nav ul li {
display: inline-block;
font-family: 'Open Sans', sans-serif;
}

ul li a {
display: block;
//padding: 15px;
text-decoration: none;
color: #000 !important;
//text-transform: uppercase;
margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all 0.25s;
}

nav ul li a:hover {
color: #0000ff;
}

#navbar-perso ul li a {
position: relative;
}

#navbar-perso ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '';
color: transparent;
background: map.get($palette, "cannelle") !important;
height: 2px;
}

.nav-item:hover>a {
    color: map.get($palette, "cannelle") !important;
}
  
#navbar-perso ul li a:hover:after {
width: 100%;
}

.active:after{
    width: 100% !important;
}

.active {
    color: map.get($palette, "cannelle") !important;
}

.coordonnee p {
    font-size : 1.2em;
}

@mixin propriete-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat : no-repeat;
}

.bgimagefooter {
    background-image: url('../../public/images/champsdebles.jpg');
    @include propriete-background;
}

.bgimageaccueil {
    background-image: url('../../public/images/pommecannelle-accueil.jpg');
    background-attachment: fixed;
    @include propriete-background;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6)
}

footer ul li p i, footer h2 {
    color: map.get($palette, "jaune") !important;
}

.accueil-texte {
    color: map.get($palette, "beige") !important;
    font-size: 1.5rem !important;
}

.mentionslegales p a, .mentionslegales p  {
    color: map.get($palette, "noir") !important;
    text-decoration: none;
}

.accueil-titre{
    font-family: $font-cursive !important;
    font-weight: bold;
    color: map.get($palette, "beige") !important;
    line-height: 1.5;
    transform: scale(1, 1.5);
    -moz-transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5);
    -ms-transform: scale(1, 1.5);
}

//section service de la page d'accueil
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }

  p{
    font-family: $font-texte !important;
    font-size: 1.2rem !important;
}
