//Utilisation des map en Sass
@use "sass:map";
//Import Reset de Meyer
@import "libs/reset.scss";
//Import de tout les fichiers scss uniquement nécessaire 
@import '~bootstrap/scss/bootstrap'; 
//@import '../../node_modules/bootstrap/scss/_nav.scss';
//@import '../../node_modules/bootstrap/scss/_navbar.scss';
//@import '../../node_modules/bootstrap/scss/_buttons.scss';
@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//Déclaration des polices de caractères (3 polices avec chacune 2 graisses )
@font-face {
    font-family: 'Josefin Slab';
    src: url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../public/fonts/fontsperso/open-sans/OpenSans-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Caveat';
    src: url("../../public/fonts/fontsperso/caveat/Caveat-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/caveat/Caveat-Bold.ttf") format("truetype");
}

/*!
* Rajout de CSS personnel
*/

//Ma pallette de couleurs
$palette: (
    "cannelle": #a2623a,
    "jaune": #f4c95d,
    "beige": #e7e393,
    "noir": #303133,
    "pale": #e8e9f3
);

// ma navbar 
nav ul li {
display: inline-block;
font-family: 'Open Sans', sans-serif;
}

ul li a {
display: block;
//padding: 15px;
text-decoration: none;
color: #000 !important;
//text-transform: uppercase;
margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all 0.25s;
}

#navbar-perso ul li a {
position: relative;
}

#navbar-perso ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '';
color: transparent;
background: map.get($palette, "cannelle") !important;
height: 2px;
}

.nav-item:hover>a {
    color: map.get($palette, "cannelle") !important;
}
  
#navbar-perso ul li a:hover:after {
width: 100%;
}

.active:after{
    width: 100% !important;
}

.active {
    color: map.get($palette, "cannelle") !important;
}

//mixin des propriétés des images backgroud****************************************
@mixin propriete-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-repeat : no-repeat;
}

.bgimagefooter {
    background-image: url('../../public/images/champsdebles.jpg');
    @include propriete-background;
}

.bgimageaccueil {
    background-image: url('../../public/images/accueil.jpg');
    background-attachment: fixed;
    @include propriete-background;
}

.bgimagerestaurant {
    background-image: url('../../public/images/header-restaurant.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

//FOOTER***************************************************************************
.mentionslegales p a, .mentionslegales p  {
    color: map.get($palette, "noir") !important;
    text-decoration: none;
}

.titre{
    font-family: $font-cursive, cursive !important;
    font-weight: bold;
    color: map.get($palette, "beige") !important;
    line-height: 2.5;
    transform: scale(1, 1.5);
    -moz-transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5);
    -ms-transform: scale(1, 1.5);
}

footer ul {
    font-family: $font-texte !important;
}

//section service de la page d'accueil
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }

p, footer ul {
    font-family: $font-texte !important;
    font-size: 1.2rem !important;
}

//Pâtisserie
.card h3 {
    font-weight: bold;
}

.card {
    border: none;
}

//google map de la page contact
#macarte {
    height: 600px;
}

//Photos des pages Restaurant et Pâtisserie
ul#conteneur{
	margin:0 auto;
	list-style-type:none;
	text-align:center;
	}

li#img1,li#img2,li#img3{
	position:relative;
	display:inline-block;
	background-color:#FFF;
	padding:10px;
    box-shadow: 5px 10px 10px darkgrey;
	border:1px solid #eee;
    width: 210px;
	}
	
li#img1{
	transform:rotate(18deg);
	z-index:2;
	}

li#img2{
	transform:rotate(-18deg);
	z-index:3;
	}
li#img3{
	transform:rotate(-8deg);
	z-index:1;
	}

li span{
    position :absolute;
	left: -10000px;
}

li:hover span{
    position: relative;
    left: 0px;
    font-size:0.6em;
}

#img1::before, #img2::before, #img3::before{ 
        content:url(../../public/images/punaise.png);
        
}

//Au survol des photos des pages Restaurant et Pâtisserie
#img1:hover,#img2:hover,#img3:hover {
	transform:rotate(0deg) scale(1.5);
	z-index:1000;
	border: 1px solid #aaa;
	padding:0;    
    margin-bottom: 59px;
}

li#img1:hover::before,li#img2:hover::before,li#img3:hover::before{
	content: none;
}

li:hover img{
	border:1px solid black;
}

//Tableau de la page Restaurant
.bgImageMur {
    background-image: url('../../public/images/mur2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
}
.tableau {
    font-family: $font-cursive, cursive;
    border: 20px solid $cannelle;
    font-size: 2em;
    line-height: 1.2; 
    box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.63), 0px 14px 25.81px 3.19px rgba(0, 0, 0, 0.8);       
    border-radius: 1% 1% 1% 1%;
}
  
.tableau h2 {
    font-family: $font-cursive, cursive;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6)
}

.pattern {
    background-image: repeating-linear-gradient(-26deg, rgba(255,255,255, 0.5), rgba(255,255,255, 0.5) 2px, transparent 3px, transparent 7px);
    background-size: 6px 8px;
}

