//Remarque: dompdf utilise css 2.1.
//Bootstrap n'est pas utilisable 
@use "sass:map";
$palette: (
    "cannelle": #a2623a,
    "jaune": #f4c95d,
    "beige": #e7e393,
    "noir": #303133,
    "pale": #e8e9f3
);

* {
    margin:0;
    padding:0;
}

body {
    background: #2f2f2f;    
    padding: 40px 40px 40px 40px;    
}

//--- En-tête, bas de page, titres
hr {
    color: map.get($palette, "cannelle") !important;
}

h2 {
    color: map.get($palette, "beige") !important;
    font-family: 'Josefin Slab' !important;       
}

ul {
    list-style: none;
}

.coordonnees {
    a {    
    font-family: 'Caveat' !important;
    color: map.get($palette, "beige") !important; 
    text-decoration: none;      
    font-size: 2.6rem;   
    }

    ul li span {    
        font-family: 'Open Sans' !important;
        font-size: 1.2rem;
        font-weight: bold;
        background: map.get($palette, "beige");
        margin-bottom: 3px;
        padding: 2%;
    }
}

.coordonnees, .logo {
    display: inline-block;
}

.logo {
   float: right;
}

.commande {    
    font-family: 'Open Sans' !important;
    font-size: 1.3rem;
    font-weight: bold;
    background: map.get($palette, "beige");
    margin-top: 50px;
    text-align: center;
}

p.presentation, p.categorie {
    font-family: 'josefin Slab' !important;
    font-size: 1.1rem;
    text-align: center;
    color: map.get($palette, "beige");
    margin: 10px 0px 30px 0px;
}

//--- pdf restaurant ---------------------
.cadre-restaurant #illustration, .cadre-patisserie #illustration {
    width: 100%;      
}

.cadre-restaurant {
    ul {
        margin: 1%;

        li {
            font-family: 'caveat' !important;
            color: map.get($palette, "pale") !important;      
            font-size: 1.3rem;
            
            &:nth-child(odd) { // 1er colonne
                margin-left: 0%;
                clear: both;
            }

            &:nth-child(even) { // 2ème colonne
                margin-left: 50%;
                float: left;    
            }
        }
    }
}

//---- Carte pdf pâtisserie ----------
$card-size: 160px;
$image-size: 100%;
$image-height: 180px;

.cadre-patisserie ul li{
    display: inline-block;    
    margin-left: 3px;
    margin-right: 3px;   
    text-align: center;

    &:nth-child(4n+1){ // Rangée de 4 éléments    
        width: $card-size;
        clear: both;
    }
}

#carte {     
    height: $image-height; 
    width: $card-size;    
    background-color: map.get($palette, "pale");    
    margin-top: 10px;
    border-radius: 5px;

    img {
      width: $image-size;     
      border-radius: 5px 5px 0px 0px;      
    }

    h3 {
        font-family: 'caveat' !important;
        color: black;   
        font-size: 1.1rem;
    }   
}

section {
    h2 {
    font-size: 2.4rem;
    text-align: center;  
    }

    ul{
    margin-left: 30px; 
    margin-top: 70px;  
    }
}

// saut de page 
.saut-de-page { 
    page-break-after: always;
}
