//@import '~bootstrap/scss/bootstrap';

//Utilisation des map en Sass
@use "sass:map";
$primary :  #f4c95d;
//Import Reset de Meyer
@import "libs/reset.scss";
//Import de tout les fichiers scss uniquement nécessaire 
@import '~bootstrap/scss/bootstrap'; 
//@import '../../node_modules/bootstrap/scss/_nav.scss';
//@import '../../node_modules/bootstrap/scss/_navbar.scss';
//@import '../../node_modules/bootstrap/scss/_buttons.scss';
//@import '../../node_modules/bootstrap/scss/_variables.scss';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

//Déclaration des polices de caractères (3 polices avec chacune 2 graisses )
@font-face {
    font-family: 'Josefin Slab';
    src: url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/josefinslab/JosefinSlab-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Open Sans';
    src: url("../../public/fonts/fontsperso/open-sans/OpenSans-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/open-sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'Caveat';
    src: url("../../public/fonts/fontsperso/caveat/Caveat-Regular.ttf") format("truetype"),
           url("../../public/fonts/fontsperso/caveat/Caveat-Bold.ttf") format("truetype");
}

/*!
* Rajout de CSS personnel
*/

//Ma pallette de couleurs
$palette: (
    "cannelle": #a2623a,
    "jaune": #f4c95d,
    "beige": #e7e393,
    "noir": #303133
);

body {
    background-color: map.get($palette, "beige");
}

//Ma navbar personnelle
nav ul li {
display: inline-block;
}

ul li a {
display: block;
//padding: 15px;
text-decoration: none;
color: #000 !important;
//text-transform: uppercase;
margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
transition: all 0.25s;
}

nav ul li a:hover {
color: #0000ff;
}

#navbar-perso ul li a {
position: relative;
}

#navbar-perso ul li a:after {
position: absolute;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: '';
color: transparent;
background: map.get($palette, "cannelle") !important;
height: 2px;
}

.nav-item:hover>a {
    color: map.get($palette, "cannelle") !important;
}
  
#navbar-perso ul li a:hover:after {
width: 100%;
}

.active:after{
    width: 100% !important;
}

.active {
    color: map.get($palette, "cannelle") !important;
}

.coordonnee p {
    font-size : 1.2em;
}

.bgimage {
    background-image: url('../../public/images/champsdeble.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.mask {
    background-color: rgba(0, 0, 0, 0.6)
}

footer ul li p i{
    color: map.get($palette, "jaune") !important;
}

.mentionslegales p a, .mentionslegales p  {
    color: map.get($palette, "noir") !important;
    text-decoration: none;
}
